[submodule "rvm"]
	path = rvm
	url = git@github.com:cornet/puppet-rvm.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git@github.com:cornet/puppet-rabbitmq.git
[submodule "user"]
	path = user
	url = git@github.com:cornet/puppet-user.git
